<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <!--form은 고객에게 값을 입력받아 URL을 전송하는 전송기임-->
    <!--form은 엔터누르면 자동전송-->
    <!--지금은 return false를 입력해 자동전송을 막은 후
        submitWriteForm(this);를 통해 내용을 확인 한 후
        form.submit();이 동작하도록 만들어 놓음 -->
    <!-- form.submit();하면 action이 가리키는 /article/doWrite에
         title(name)=~~, body=~~가 날라감
          즉 localhost:8020/article/doWrite?title=제목&body=내용이 날라감-->
    <form method="POST" action="/article/Write" onsubmit="submitWriteForm(this); return false;"
          style="display:flex; flex-direction: column; gap:20px; max-width:500px;">
        <input type="text" name="title" placeholder="제목">
        <input type="text" name ="body" placeholder="내용">
        <!-- javascript:;는 아무것도 하지 않는다는 뜻 -->
        <button type="submit" >글쓰기</button>
    </form>

<script>
    function submitWriteForm(form){
        const inputTitle = form.title;
        const inputBody = form.body;

        inputTitle.value = inputTitle.value.trim(); //선trim
        inputBody.value = inputBody.value.trim();

        const title = inputTitle.value;
        const body = inputBody.value;

        if(title.length==0){
            alert('제목을 입력해주세요.'); //알림메시지
            inputTitle.focus(); //Title쪽으로 커서이동
            return;
        }
        if(title.body==0){
            alert('내용을 입력해주세요.');
            inputBody.focus(); //Body쪽으로 커서이동
            return;
        }
        form.submit();
    }
</script>

</body>
</html>
